body{
    text-align: center;
}
.mbox{
    display: flex;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 10px solid black;
    border-radius: 20%;
}
.one{
    background-color: #ef476f;
}
.two{
    background-color: #ffd166;
}
.three{
    background-color: #06d6a0;
}
.four{
    background-color: #118ab2;
}
.flash{
    background-color: #fff;
}
.userflash{
    background-color: greenyellow;
}
.high{
    width: 200px;
    height: 100%;
    background-color: rgb(131, 226, 175);
    position: absolute;
    right: 100px;
    top: 0px;
}
.talk{
    text-align: center;
    width: 400px;
    height: 100%;
    background-color: #D37676;
    position: absolute;
    left: 0px;
    top: 0px;
}
.center{
    margin-top: 300px;
}